<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueHello</title>
    <style>
        .classA {
            color: red;
        }

        /*指定过渡样式*/
        .xxx-enter-active, .xxx-leave-active{
            transition: opacity 1s;
        }
        /*指定隐藏样式*/
        .xxx-enter, .xxx-leave-to{
            opacity: 0;
        }

        .move-enter-active{
            transition: all 1s;
        }

        .move-leave-active{
            transition: all 3s;
        }
        .move-enter, .move-leave-to{
            opacity: 0;
            transform: translateX(20px);
        }

        .bounce-enter-active{
            animation: bounce-in .5s;
        }

        .bounce-leave-active{
            animation: bounce-in .5s reverse;
        }

        @keyframes bounce-in {
            0%{
                transform: scale(0);
            }
            50%{
                transform: scale(1.5);
            }
            100%{
                transform: scale(1);
            }
        }
    </style>

</head>
<!--
============08_表单输入绑定==================
1. 使用v-model(双向数据绑定)自动收集数据
  text/textarea
  checkbox
  radio
  select
==============09_Vue实例_生命周期=====================
1. vue对象的生命周期
  1). 初始化显示
    * beforeCreate()
    * created()
    * beforeMount()
    * mounted()
  2). 更新状态
    * beforeUpdate()
    * updated()
  3). 销毁vue实例: vm.$destory()
    * beforeDestory()
    * destoryed()
2. 常用的生命周期方法
  created()/mounted(): 发送ajax请求, 启动定时器等异步任务
  beforeDestory(): 做收尾工作, 如: 清除定时器
==========
1. vue对象的生命周期
  1). 初始化显示
    * beforeCreate()
    * created()
    * beforeMount()
    * mounted()
  2). 更新状态
    * beforeUpdate()
    * updated()
  3). 销毁vue实例: vm.$destory()
    * beforeDestory()
    * destoryed()
2. 常用的生命周期方法
  created()/mounted(): 发送ajax请求, 启动定时器等异步任务
  beforeDestory(): 做收尾工作, 如: 清除定时器

==============10_过渡&动画=====================
1. vue动画的理解
  操作css的trasition或animation
  vue会给目标元素 添加/移除 特定的class
2. 基本过渡动画的编码
  1). 在目标元素外包裹<transition name="xxx">
  2). 定义class样式
    1>. 指定过渡样式: transition
    2>. 指定隐藏时的样式: opacity/其它
3. 过渡的类名
  xxx-enter-active: 指定显示的transition
  xxx-leave-active: 指定隐藏的transition
  xxx-enter: 指定隐藏时的样式

==============11_过滤器=====================
1. 理解过滤器
  功能: 对要显示的数据进行特定格式化后再显示
  注意: 并没有改变原本的数据, 可是产生新的对应的数据
2. 编码
  1). 定义过滤器
    Vue.filter(filterName, function(value[,arg1,arg2,...]){
      // 进行一定的数据处理
      return newValue
    })
  2). 使用过滤器
    <div>{{myData | filterName}}</div>
    <div>{{myData | filterName(arg)}}</div>
需求: 对当前时间进行指定格式显示

==============12_指令=====================
常用内置指令
  v:text : 更新元素的 textContent
  v-html : 更新元素的 innerHTML
  v-if : 如果为true, 当前标签才会输出到页面
  v-else: 如果为false, 当前标签才会输出到页面
  v-show : 通过控制display样式来控制显示/隐藏
  v-for : 遍历数组/对象
  v-on : 绑定事件监听, 一般简写为@
  v-bind : 强制绑定解析表达式, 可以省略v-bind
  v-model : 双向数据绑定
  ref : 为某个元素注册一个唯一标识, vue对象通过$refs属性访问这个元素对象
  v-cloak : 使用它防止闪现表达式, 与css配合: [v-cloak] { display: none }

1. 注册全局指令
  Vue.directive('my-directive', function(el, binding){
    el.innerHTML = binding.value.toupperCase()
  })
2. 注册局部指令
  directives : {
    'my-directive' : {
        bind (el, binding) {
          el.innerHTML = binding.value.toupperCase()
        }
    }
  }
3. 使用指令
  v-my-directive='xxx'

需求: 自定义2个指令
  1. 功能类型于v-text, 但转换为全大写
  2. 功能类型于v-text, 但转换为全小写




-->
<body>
<div id="hello">
    <h1>一. 表单输入绑定</h1>
    用户名: <input type="text" v-model="username"><br/>
    密码: <input type="password" v-model="pwd"><br/>
    <span>性别: </span>
    <input type="radio" value="女" v-model="sex">女
    <input type="radio" value="男" v-model="sex">男<br/>
    爱好: <input type="checkbox" value="basket" v-model="likes"><label>篮球</label>
    <input type="checkbox" value="foot" v-model="likes"><label>足球</label>
    <input type="checkbox" value="pingpang" v-model="likes"><label>乒乓</label><br/>
    城市:
    <select v-model="cityId">
        <option>未选择</option>
        <option :value="city.id" v-for="(city,index) in allCitys" :key="city.id">{{city.name}}</option>
    </select><br/>
    <span>介绍: </span>
    <textarea rows="10" v-model="info"></textarea><br/><br/>
    <button @click="handleSubmit">注册</button>


    <h1>二. Vue实例_生命周期</h1>
    <button @click="destroyVue">destory vue</button>
    <div style="height: 50px; width: 50px;background: #1b6d85">
        <span v-if="isShow">教育</span>
    </div>


    <h1>三. 过渡&动画</h1>
    <div id="demo">
        <button @click="showDemo = !showDemo">Toggle</button>
        <transition name="xxx">
            <p v-show="showDemo">hello</p>
        </transition>
    </div>

    <div id="demo2">
        <button @click="showDemo2 = !showDemo2">Toggle2</button>
        <transition name="move">
            <p v-show="showDemo2">hello</p>
        </transition>
    </div>

    <div id="demo3">
        <button @click="showDemo3 = !showDemo3">Toggle3</button>
        <br/>
        <transition name="bounce">
            <p style="display: inline-block" v-show="showDemo3">Lorem</p>
        </transition>
    </div>

    <h1>四. 过滤器</h1>

    <div id="test">
        <h3>显示格式化的日期时间</h3>
        <p>{{time}}</p>
        <p>最完整的: {{time | dateString}}</p>
        <p>年月日: {{time | dateString('YYYY-MM-DD')}}</p>
    </div>

    <h1>五. 内置指令</h1>

    <div >
        <p v-cloak>{{content}}</p>
        <p v-text="content"></p>
        <p v-html="content"></p>
        <p ref="msg">abcd</p>
        <button @click="hint">提示</button>
    </div>

    <p v-upper-text="msg"></p>
    <p v-lower-text="msg"></p>

    <h1>六. 插件</h1>
    <p v-my-directive="msg"></p>




</div>

<br/><br/><br/><br/><br/>
</body>
<script src="js/vue.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/moment.js/2.22.1/moment.js"></script>
<script src="js/vue-myPlugin.js" type="text/javascript"></script>

<script type="text/javascript">
    //声明使用插件(安装插件: 调用插件的install())
    Vue.use(MyPlugin) //内部会调用插件对象的install()
    //注册一个全局指令
    //el : 指令所在的标签对象
    //binding : 包含指令相关数据的容器对象
    Vue.directive('upper-text',function (el, binding) {
        el.textContent = binding.value.toUpperCase()
    })

    //定义过滤器
    Vue.filter('dateString',function (value, format='YYYY-MM-DD HH:mm:ss'){
        return moment(value).format(format)
    })

    const vm = new Vue({ //配置对象 options
        el: '#hello', //element: 指定用vue来管理哪个标签区域
        data: {
            username: '',
            pwd: '',
            sex: '男',
            likes: ['foot'],
            cityId: '2',
            info: '',
            allCitys: [{id: 1, name: 'BJ'}, {id: 2, name: 'SS'}, {id: 3, name: 'SZ'}],
            isShow: true,
            showDemo: true,
            showDemo2: true,
            showDemo3: true,
            intervalId: 0,
            time: new Date(),
            content: '<a href="http://www.baidu.com">百度</a>',
            msg: 'I Like You'
        },
        beforeCreate() {
            console.log('beforeCreate()')
        },
        created() {
            console.log('created()')
        },
        beforeMount() {
            console.log('beforeMount()')
        },
        mounted() {
            //执行异步操作
            this.intervalId = setInterval(() => {
                this.isShow = !this.isShow
                this.time = new Date()
            }, 1000)
        },
        beforeUpdate() {
            console.log('beforeUpdate()')
        },
        update() {
            console.log('update()')
        },
        beforeDestroy() {
            //执行收尾工作
            clearInterval(this.intervalId)
        },
        destroyed() {
            console.log('destroyed()')
        },
        methods: {
            handleSubmit() {
                console.log(this.username, this.pwd, this.likes, this.cityId, this.info)
            },
            destroyVue() {
                this.$destroy()
            },
            hint(){
                alert(this.$refs.msg.innerHTML)
            }
        },
        //注册局部指令
        directives:{
            'lower-text'(el,binding){
                el.textContent = binding.value.toLowerCase()
            }
        }
    })

    Vue.myGlobalMethod()
    vm.$myMethod()

</script>
</html>
